/* elements */

/* ids */

#dashboard-grid{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
        "sidebar main";
}

#users-sidebar-app-container{
    grid-area: sidebar;
}

#users-main-content-app-container{
    grid-area: main;
}

/* classes */